
.container{
    padding: 7% 10%;
}
*{
    font-family: 'Poppins', sans-serif;
}
.nav-links ul{
    padding: 0;
    margin: 0;
}
.nav-links ul li{
    display: inline-block;
}
.content{
    color: #777;
}
.faculty{
    font-size: 25px;
}
th,td{
    padding: 0px 15px;
}
tbody tr:nth-child(odd){
    background-color: #ddd;
}
tbody tr:nth-child(odd) td{
    border: 1px solid #ddd;
}
table{
    border-collapse: collapse;
}

