*{
    padding: 0;
    margin: 0;
    font-family: Sofia, cursive;
    font-weight: 400px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.header{
    height: 100vh;
    padding: 0% 6%;
    position: relative;
    margin-bottom: 20px;
}
nav img{
    width: 125px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-right: 4%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    text-decoration: initial;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
}
#steel{
    color: #ffb732
}
.heading p:first-child{
    font-size: 50px;
    font-weight: 200;
}
.heading p:nth-child(2){
    padding: 20px 0%;
}
#download{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.heading{
    position: absolute;
    top: 300px;
    width: 380px;
}
#back-img{
    width: 22%;
    position: absolute;
    left: 66%;
    bottom: 0;
    transition: 0.5s linear;
}
#profile-pic{
    width: 42%;
    position: absolute;
    left:57%;
    bottom: 0;
    /* top: 159px; */
    transition: 0.5s linear;flex-basis: 50%;
    display: inline;
}
#image-wrapper:hover #profile-pic{
    transform: translateX(-9%);
}
#image-wrapper:hover #back-img{
    transform: translateY(-15%);
}
.nav-links ul li a:hover{
    color: red;
}
.headings{
    text-align: center;
    font-size: 32px;
}
.sub-headings{
    text-align: center;
    color: green;
    font-size: 20px;
    padding-bottom: 20px;
}
.about{
    padding-top: 0px;
    padding-bottom: 120px;
    padding-left: 8%;
    padding-right: 8%;
}
.about img{
    width: 100%;
}
.row{
    display: flex;
    align-items: center;
}
#about-col-2{
    padding-left: 6%;
    font-size: 18px;
    text-align: justify;
}
#about-col-2 p{
    padding-bottom: 15px;
}
#about-col-2 span{
    margin-right: 15px;
}
.skills{
    padding-top: 0px;
    padding-bottom: 120px;
    padding-left: 8%;
    padding-right: 8%;
}
.skills img{
    width: 100%;
}
progress {
    width: 100%;
    height: 10px;
    /* background-color: #ffb732; */
    border-radius: 10px;
    margin-bottom: 14px;
}
#skills-col-1{
    flex-basis: 49%;
}
#skills-col-2{
    flex-basis: 50%;
}
progress::-webkit-progress-value {
    background-color: #ffb732;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: #000;
    border-radius: 10px;
}
#skills-col-1 div span{
    margin-bottom: 10px;
}
.contacts{
    text-align: center;
    padding-bottom: 60px;
}
.sm-icons{
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
}
.sm-icons a{
    text-decoration: none;
    margin-top: 80px;
    color: black;
}
.contacts p{
    font-weight: bold;
}
.icon-wrap{
    margin: 0px 0.5%;
    width: 52px;
    height: 50px;
    border-radius: 50%;
}
.icon-wrap:hover{
    background: linear-gradient(to bottom right, #ffb732, rgba(255, 255, 255, 0.9));
}
.icon-wrap:hover a{
    color: white;
}
.icon-wrap:hover a i{
    animation: rotate 1s ease-in-out;
}
.nav-links i{
    display: none;
}
.nav i{
    display: none;
}
.nav i:hover{
    cursor: pointer;
}
@keyframes rotate {
    0%, 100% {
        transform: rotate(0);
    }
    16.5% {
        transform: rotate(-20deg);
    }
    33% {
        transform: rotate(20deg);
    }
    49.5% {
        transform: rotate(-20deg);
    }
    66% {
        transform: rotate(20deg);
    }
    82.5% {
        transform: rotate(-20deg);
    }
}
#download:hover{
    cursor: pointer;
}
@media(max-width: 700px){
    .nav-links{
        position: absolute;
        right: -200px;
        top:0;
        height: 100vh;
        width: 200px;
        z-index: 2;
        background-color: #ffb732;
        text-align: left;
        padding-top: 100px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .nav-links li{
        display: block;
        margin: 35px 20px;
    }
    .heading{
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        text-align: center;
    }
    .heading p:first-child{
        font-size: 35px;
        text-align: center;
    }
    #profile-pic{
        left: 30%;
        width: 280px;
    }
    #back-img{
        left: 39%;
        width: 150px;
    }
    .nav-links i{
        display: inline-block;
        margin: 10px;
        color: white;
        font-size: 20px;
    }
    .nav i{
        display: inline-block;
        font-size: 20px;
    }
    .row{
        flex-direction: column;
    }
    #skills-col-1{
        width: 100%;
    }
    .about{
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .skills{
        padding-bottom: 60px;
    }
    #about-col-2{
        padding: 0;
    }
}
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #ffb732; /* Set the color of the thumb (the draggable part) */
    border-radius: 6px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Set the color of the track (the non-draggable part) */
}